<section class="todolist-wrapper">
    <h1 class="title">TODO APP</h1>
    <div class="new-todo">
        <input type="text" (keydown.enter)="addTodo()" placeholder="Comprar pan, lavar la ropa..." [formControl]="newTodo">
        <button (click)="addTodo()" [disabled]="newTodo.invalid || newTodo.pristine" class="{{ newTodo.invalid || newTodo.pristine ? 'opacity-50 cursor-not-allowed' : '' }}">+</button>
    </div>
    <div *ngIf="newTodo.invalid && (newTodo.dirty || newTodo.touched)">
        <div *ngIf="newTodo.hasError('minlength')" class="text-xs text-red-700 text-center">
          La tarea debe tener al menos 3 caracteres.
        </div>
      </div>
   
    <div class="filters">
        <button (click)="changeFilter('all')"[class.active]="filter() === 'all'">Todos</button>
        <button (click)="changeFilter('active')"[class.active]="filter() === 'active'">Activos</button>
        <button (click)="changeFilter('completed')"[class.active]="filter() === 'completed'">Completados</button>
    </div>

    <ul class="todolist">
        <div *ngIf="showNotification" class="text-xs text-green-400">Tarea Editada con Exito!</div>
        @for (todo of todoListFiltered(); track todo.id){
            @if (todo.editing) {
                <li class="todo-editing">
                    <input type="text" placeholder="editar tarea" [value]="todo.title" #editedTodo (keydown.enter)="saveTitleTodo(todo.id, $event)">
                    <button (click)="saveEditedTodo(todo.id, editedTodo.value)"><i class="fa-solid fa-square-check"></i></button>
                </li>
                <div *ngIf="showErrorMessage" class="text-red-600 text-xs text-center">No se puede agregar una tarea vacia o que tenga menos de 3 caracteres</div>
            } @else {
                <li class="todo">
                    <div class="flex gap-2 text-left items-center">
                        <input type="checkbox" [checked]="todo.completed" (click)="toggleTodo(todo.id)">
                        <label for="">{{todo.title}}</label>
                    </div>
                    <div class="flex gap-3">
                        @if (!todo.completed){<button (click)="updateTodo(todo.id)"><i class="fa-solid fa-pen"></i></button>}
                        <button class="text-red-600" (click)="confirmDelete(todo.id)"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </li>
            }
        }

    </ul>
    <div *ngIf="showConfirmation" class="modal">
        <div class="fixed inset-0 z-40"></div>
        <div class="bg-background-400 rounded-lg p-6 relative z-50">
          <h2 class="text-lg font-semibold mb-4">Confirmar eliminación</h2>
          <p class="mb-4">¿Estás seguro de eliminar esta tarea?</p>
          <div class="flex justify-end">
            <button (click)="removeTodo()" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 mr-2">Eliminar</button>
            <button (click)="cancelDelete()" class="px-4 py-2 bg-background-300 rounded hover:bg-background-200">Cancelar</button>
          </div>
        </div>
      </div>
</section>
